[project]
	description = its my first project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/venuku
[access "refs/for/refs/*"]
	read = group user/venuku
	push = group user/venuku
	label-Code-Review = -2..+2 group user/venuku
	label-Verified = -1..+1 group user/venuku
	rebase = group user/venuku
	removeReviewer = group user/venuku
	submit = group user/venuku
[access "refs/heads/*"]
	read = group user/venuku
	create = group user/venuku
	push = +force group user/venuku
	pushMerge = group user/venuku
[access "refs/tags/*"]
	push = +force group user/venuku
	pushTag = group user/venuku
	pushSignedTag = group user/venuku
